@import "../../global.scss";

li{
    font-size: 14px;
    margin-right: 5vw;
    padding: 1vw;
    border-radius: 10px;
    cursor: pointer;

    &.active{
        background-color: $mainColor;
        color: white;
    }
}