.about{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        font-size: 4vw;
        font-weight: 600;
        margin-top: 3vh;
    }
    .container{
        width: 80vw;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3vw 0;
        h4{
            font-size: 2vw;
            span{
                color: crimson
            }
        }
        
        .paragraph{
            font-size: 1.5vw;
            font-weight: 350;
            width: 70vw;
            margin-top: 1vw;  
        }

        .resume{
            background-color: blue;
            color: white;
            border-radius: 5%;
            padding: 1.5vw 1.5vw ;
            margin-top: 1.8vw;
        }
    }
}

@media (max-width:600px) {
    .about{
        .container{
            h4{
                font-size: 3.8vw;
            }
            .paragraph{
                font-size: 3.8vw;
                font-weight: 350;
                width: 60vw;
                margin-top: 1vw;  
            }
            .resume{
                border-radius: 5%;
                padding: 1.3vw 1.3vw ;
                margin-top: 1.8vw;
                font-size: 2.5vw;
            }
        }
    }
    
}
